/* Messages start */

.titlebar .message {
	width: auto;
	z-index: 999;
	position: relative;
	display: inline-block;
	margin-left: 7px;
}

.messages {
	display: inline-block;
	border-radius: 15px;
	background: #373737 url(../images/bg-grad-msg.png) 0 0 repeat-x;
	color: #fff;
	padding: 8px 35px 8px 38px;
	position: relative;
	text-align: left;
	min-height: 19px;
	line-height: 18px;
}

.close-msg {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/icons/icon-msg-close.png) 0 0 no-repeat;
	position: absolute;
	top: 6px;
	right: 8px;
	text-indent: -9999px;
	cursor: pointer;
}

.close-msg:hover {
	background: url(../images/icons/icon-msg-close.png) left bottom no-repeat;
}
.close-msg2 {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/icons/icon-msg-close.png) 0 0 no-repeat;
	position: absolute;
	top: 6px;
	right: 8px;
	text-indent: -9999px;
	cursor: pointer;
}

.close-msg2:hover {
	background: url(../images/icons/icon-msg-close.png) left bottom no-repeat;
}

.icon-messages {
	position: absolute;
	left: -15px;
	top: -5px;
	width: 43px;
	height: 43px;
}

.icon-success { background: url(../images/icons/icon-success.png); }

.icon-error { background: url(../images/icons/icon-error.png); }

/* Messages end */
/*FOrm image thumbnails*/


.imagethumbs-form {
	padding-top: 5px;
	font-weight: bold;
	margin-top: -10px;
}

.imagethumbs-form .close-msg {
	z-index: 999;
	right: -5px;
	top: -8px;
	background-color: #000;
	border-radius: 12px;
	width: 21px;
	height: 21px;
}

.imagethumbs-form div.imagethumb-form {
	display: inline-block;
	margin: 10px 15px 0 0;
	position: relative;
	vertical-align: top;
}

.imagethumbs-form a.img-wrap {
	display: inline-block;
	border: 1px solid #999;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
}

.imagethumbs-form a.img-wrap:hover {
	border: 1px solid #666;
}
.imagethumbs-form div.imagethumb-form span.img-wrapper {
	display: inline-block;
	background: url(../images/whitetrans-70pc.png);
	position: absolute;
	left: 6px;
	top: 6px;
	color: #333;
	width: 130px;
	padding: 5px 10px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
}

.imagethumbs-form div.imagethumb-form ins.input-wrap {
	text-decoration: none;
	font-size: 11px;
	display: inline-block;
	margin-top: 5px;
	background: url(../images/blacktrans-50pc.png);
	padding: 1px 7px;
	border-radius: 5px;
	color: #fff;
}

.imagethumbs-form div.imagethumb-form ins.input-wrap input {
	margin-right: 3px;
}

.imagethumbs-form .btn {
	margin-top: 10px;
}








.imagethumbs-form2 {
	padding-top: 5px;
	font-weight: bold;
	margin-top: -10px;
}

.imagethumbs-form2 .close-msg2 {
	z-index: 999;
	right: -5px;
	top: -8px;
	background-color: #000;
	border-radius: 12px;
	width: 21px;
	height: 21px;
}

.imagethumbs-form2 div.imagethumb-form2 {
	display: inline-block;
	margin: 10px 15px 0 0;
	position: relative;
	vertical-align: top;
}

.imagethumbs-form2 a.img-wrap2 {
	display: inline-block;
	border: 1px solid #999;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
}

.imagethumbs-form2 a.img-wrap2:hover {
	border: 1px solid #666;
}
.imagethumbs-form2 div.imagethumb-form2 span.img-wrapper {
	display: inline-block;
	background: url(../images/whitetrans-70pc.png);
	position: absolute;
	left: 6px;
	top: 6px;
	color: #333;
	width: 130px;
	padding: 5px 10px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
}

.imagethumbs-form2 div.imagethumb-form2 ins.input-wrap {
	text-decoration: none;
	font-size: 11px;
	display: inline-block;
	margin-top: 5px;
	background: url(../images/blacktrans-50pc.png);
	padding: 1px 7px;
	border-radius: 5px;
	color: #fff;
}

.imagethumbs-form2 div.imagethumb-form2 ins.input-wrap input {
	margin-right: 3px;
}

.imagethumbs-form2 .btn {
	margin-top: 10px;
}