.panel-heading {
    padding: 0
}
.panel-heading a{
    display: block;
    padding: 20px 10px;
}
.panel-heading a.collapsed {
    background: #fff
}
.panel-heading a {
    background: #f7f7f7;
    border-radius: 0;
}
.panel-heading a:after {
    content: '-';
    float: right;
}
.panel-heading a.collapsed:after {
    content: '+';
    float: right;
}
.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  border-color: #414181 #414181 transparent;
  background: #414181;
  color: white;
}
.nav.nav-tabs li a {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size:15px;
    font-weight: bold;
    border-radius: 0px;
    text-transform: uppercase;
}
.tab-pane {
    background: #fff;
    padding: 20px 10px;
    border: 1px solid #f9f9f9;
    background: #f9f9f9;
    margin-top: -1px;
}
/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}
@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}